.para-section {
    margin-bottom: 50px;
}

.para-heading {
    font-size: 40px;
    font-weight: bolder;
}

.para-body {
    font-size: 22px;
    font-weight: 500;
}

.team-picture {
    max-width: 80%;
}