nav {
    padding: 0px !important;
}
.nav-link {
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    padding: 20px !important;
    margin-left: 2px;
}

.nav-link:hover {
    background-color: var(--secondary-highlight);
    color: var(--white) !important;
}

.landing-page-logo-brand {
    max-width: 17vw;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.route-name-font {
    padding-left: 40px;
    font-family: var(--font-family-secondary);
    font-size: 50px;
    color: var(--primary);
}

.current-path-display {
    position: fixed;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 2.75vw;
    color: var(--primary);
    font-family: var(--font-family-secondary);
}

@media screen and (max-width: 768px) {
    nav {
        background-color: var(--secondary);
    }
    .landing-page-logo-brand {
        max-height: 100px;
        padding: 0;
        position: relative;
    }
}
.active {
    background-color: var(--secondary-highlight);
    color: var(--white) !important;
}