:root {
  --blue: #2a9fd6;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #c00;
    --orange: #fd7e14;
    --yellow: #f80;
    --green: #77b300;
    --teal: #20c997;
    --cyan: #93c;
    --white: #fff;
    --gray: #555;
    --gray-dark: #222;
    --primary: #1A0748;
    --secondary: #dacaff;
    --secondary-highlight: #987ed6;
    --success: #77b300;
    --info: #93c;
    --warning: #f80;
    --danger: #c00;
    --light: #222;
    --dark: #adafae;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: 'Poppins', sans-serif;
    --font-family-secondary: 'Bungee Shade', cursive;
}

body {
  font-family: var(--font-family-sans-serif) !important;
  background-color: var(--secondary);
}

.page-spacing-top {
  margin-top: 10vh;
}

.page-spacing-bottom {
  margin-bottom: 10vh;
}

p {
  font-family: var(--font-family-sans-serif) !important;
}

.no-margin {
  margin: 0;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 900;
}

.font-size-small {
  font-size: 16px;
}

.no-padding {
  padding: 0 !important;
}

.theme-line {
  border-top: 2px solid var(--secondary-highlight);
}

.text-border {
  text-shadow: 1px 0 0 var(--secondary-highlight), -1px 0 0 var(--secondary-highlight), 0 1px 0 var(--secondary-highlight), 0 -1px 0 var(--secondary-highlight), 1px 1px var(--secondary-highlight), -1px -1px 0 var(--secondary-highlight), 1px -1px 0 var(--secondary-highlight), -1px 1px 0 var(--secondary-highlight); 
}

.double-border {
  background-color: var(--secondary-highlight);
  border: 4px solid var(--primary);
  position: relative;
  padding: 0.5em;
  margin: 0 auto;
}
.double-border:before {
  background: none;
  border: 4px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
}

.coming-soon {
  filter: blur(25px);
  -webkit-filter: blur(25px);
}